name: inception

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    image: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html:ro
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - wordpress
      - adminer
      - static
      - cadvisor

  adminer:
    container_name: adminer
    build: ./requirements/adminer
    image: adminer
    restart: always
    networks:
      - inception
    env_file:
      - .env

  static:
    container_name: static
    build: ./requirements/static
    image: static
    restart: always
    networks:
      - inception
    env_file:
      - .env

  ftp:
    container_name: ftp
    build: ./requirements/ftp
    image: ftp
    restart: always
    environment:
      FTP_USER: ${FTP_USER:-wpftp}
      FTP_PASSWORD: ${FTP_PASSWORD:-changeme}
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - wordpress
    ports:
      - "21:21"

  redis:
    container_name: redis
    build: ./requirements/redis
    image: redis
    restart: always
    networks:
      - inception
    env_file:
      - .env

  cadvisor:
    container_name: cadvisor
    build: ./requirements/cadvisor
    image: cadvisor
    restart: always
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    networks:
      - inception

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    image: wordpress
    restart: always
    environment:
      WP_ADMIN_PASSWORD_FILE: /run/secrets/wp_admin_password
      WP_USER2_PASSWORD_FILE: /run/secrets/wp_user2_password
    volumes:
      - wordpress_data:/var/www/html
    secrets:
      - wp_admin_password
      - wp_user2_password
      - db_password
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - mariadb

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    image: mariadb
    restart: always
    volumes:
      - mariadb_data:/var/lib/mysql
    secrets:
      - db_password
      - db_root_password
    networks:
      - inception
    env_file:
      - .env

networks:
  inception:
    name: inception
    driver: bridge

volumes:
  mariadb_data:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/mariadb
      o: bind
  wordpress_data:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress
      o: bind

secrets:
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user2_password:
    file: ../secrets/wp_user2_password
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
