name: inception

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    image: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html:ro
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - wordpress
      - adminer
      - static
      - cadvisor

  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer
    image: adminer
    restart: always
    networks:
      - inception
    env_file:
      - .env

  static:
    container_name: static
    build: ./requirements/bonus/static
    image: static
    restart: always
    networks:
      - inception
    env_file:
      - .env

  ftp:
    container_name: ftp
    build: ./requirements/bonus/ftp
    image: ftp
    restart: always
    environment:
      FTP_USER: ${FTP_USER:-wpftp}
      FTP_PASSWORD: ${FTP_PASSWORD:-changeme}
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - wordpress
    ports:
      - "21:21"
      - "21000-21010:21000-21010"

  redis:
    container_name: redis
    build: ./requirements/bonus/redis
    image: redis
    restart: always
    networks:
      - inception
    env_file:
      - .env

  cadvisor:
    container_name: cadvisor
    build: ./requirements/bonus/cadvisor
    image: cadvisor
    restart: always
    privileged: true
    volumes:
      - /:/rootfs:rw # Read-only access to host root filesystem
      - /var/run:/var/run:rw # Access to the runtime (typically docker.sock)
      - /sys:/sys:rw # Access to system statistics (cgroups)
      - /var/lib/docker:/var/lib/docker:rw # Access to container and image data
      - /dev/disk:/dev/disk:rw # Disk usage and I/O statistics for block devices
    networks:
      - inception
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    image: wordpress
    restart: always
    volumes:
      - wordpress_data:/var/www/html
    secrets:
      - db_password
    networks:
      - inception
    env_file:
      - .env
    depends_on:
      - mariadb

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    image: mariadb
    restart: always
    volumes:
      - mariadb_data:/var/lib/mysql
    secrets:
      - db_password
      - db_root_password
    networks:
      - inception
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
networks:
  inception:
    name: inception
    driver: bridge

volumes:
  mariadb_data:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/mariadb
      o: bind
  wordpress_data:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/data/wordpress
      o: bind

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
